.Main__story__container{
    margin: 30px 0px 30px 0px;
    width: 630px;
    height: 85px;
    overflow-x: scroll; 
    display: flex;
    scrollbar-width: none; 
    align-items: center;
    position: relative;

}

.Main__story__container::-webkit-scrollbar {
    display: none; /* Hide default scrollbar in Chrome, Safari, and Edge */
}

/* .Story__Navigation{
    z-index: 1;
    position: absolute;
    right: 54px;
} */

/* .Story__Navigation > button{
    border: 0;
    border: 0;
    padding: 0;
    margin: 0;
    height: 0;
    background-color: aqua;
    width: 0;
}

.Story__Navigation > button:hover{
cursor: pointer;
} */
